.banner {
  height: calc(var(--vh, 1vh) * 40);
  height: 40vh; //FALLBACK
  background-color: transparent;
  .banner-row {
    flex-direction: column;
    justify-content: center;
    .banner-heading {
      margin-bottom: 30px;
      font-size: 5rem;
      letter-spacing: 0.1vw;
      line-height: 4.5rem;
      font-weight: 700;
      z-index: 10;
      color: $white;
      mix-blend-mode: difference;
      @include media('<=tablet') {
        font-size: 4rem;
        line-height: 3rem;
      }
      @include media('<=phone') {
        margin-top: 52px;
        font-size: 3.5rem;
        line-height: 3rem;
      }
      .banner-line {
        height: 65px;
        position: relative;
        overflow: hidden;
        @include media('<=tablet') {
          height: 50px;
        }
        @include media('<=phone') {
          height: 50px;
        }
        .banner-text {
          position: absolute;
        }
      }
    }
    .banner-btn-row {
      width: 256px;
      position: relative;
      z-index: 2;
      .banner-btn-link {
        font-size: 2rem;
        color: $black;
        text-decoration: none;
        display: flex;
        align-items: center;
        font-weight: 600;
        @include media('<=tablet') {
          font-size: 1.8rem;
        }
        @include media('<=phone') {
          font-size: 1.6rem;
        }
        .banner-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 10px;
          border: 2px solid $black;
          height: 30px;
          width: 30px;
          border-radius: 100px;
          transition: 0.5s ease-in-out;
          @include media('<=tablet') {
            width: 30px;
            height: 30px;
          }
          @include media('<=phone') {
            width: 20px;
            height: 20px;
          }

          .banner-btn-inner {
            height: 12px;
            width: 12px;
            background-color: $black;
            border-radius: 50%;
            display: inline-block;
            transition: 0.5s ease-in-out;

            @include media('<=tablet') {
              width: 12px;
              height: 12px;
            }
            @include media('<=phone') {
              width: 8px;
              height: 8px;
            }
          }
        }
        &:hover {
          .banner-btn {
            background: $black;
            color: $white;
            .banner-btn-inner {
              background-color: $pink;
            }
          }
        }
      }
    }
  }
}
